<header>
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a href="#" class="navbar-brand">
                <img src="../../assets/images/logo.jpg" alt="Prechu" class="img-responsive">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#main-nav" [toggle-menu]="moblieNav">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav" #moblieNav>
                <ul class="navbar-nav justify-content-end ml-auto">
                    <li class="nav-item mx-md-3 mr-auto">
                        <a class="nav-link active px-md-0 py-md-4" 
                        routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="nav-item mx-md-3 mr-auto">
                        <a class="nav-link px-md-0 py-md-4" 
                        routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>
                    </li>
                    <li class="nav-item mx-md-3 mr-auto">
                        <a class="nav-link px-md-0 py-md-4" 
                        routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a>
                    </li>
                    <li class="nav-item mx-md-3 mr-auto">
                        <a class="nav-link px-md-0 py-md-4" 
                        routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
