<section id="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-6 intro-details">
                <h1>Lorem ipsum is simple</h1>
                <div class="w-50">
                    <h4>Dummy text for the printing & typesetting</h4>
                    <a href="#" class="signup-button">
                        <span class="mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                            </svg>
                        </span>
                        <span>Sign up now</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="pt-5">
    <div class="container w-lg-75">
        <div class="row">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <span class="service-icon pencil">
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#fff" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </span>
                <h4 class="service-title">Contary to popular</h4>
                <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <span class="service-icon display">
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#fff" class="bi bi-display" viewBox="0 0 16 16">
                        <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z"/>
                    </svg>
                </span>
                <h4 class="service-title">Contary to popular</h4>
                <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                <span class="service-icon basket">
                    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#fff" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                        <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"/>
                    </svg>
                </span>
                <h4 class="service-title">Contary to popular</h4>
                <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</section>
<section id="shopping-cart" class="py-5">
    <div class="container w-lg-75">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h4 class="pb-4">The Shopping Cart</h4>
                <img src="../../assets/images/basket.jpg" alt="cart"
                 class="img-reponsive">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center mt-4 mt-md-0">
                <h5 class="pb-2">Some Bullet text here</h5>
                <p style="line-height: 2rem;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laudantium fugiat harum! Distinctio dicta architecto earum modi sint, fuga quaerat aperiam sequi debitis excepturi itaque assumenda, animi dolor! Consectetur, ab.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laudantium fugiat harum! Distinctio dicta architecto earum modi sint, fuga quaerat aperiam sequi debitis excepturi itaque assumenda, animi dolor! Consectetur, ab.
                </p>
            </div>
        </div>
    </div>
</section>